body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    color: rgb(85, 85, 85);
}

.jersey-25-regular {
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    color: blue;
    font-size: 30px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    text-decoration: none;
  }
.logo {

    width: 40px;
    border-radius: 10px;
    margin-right: 5px;
}
.link-logo {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(85, 85, 85);
    font-weight: bold;
    font-family: "Jersey 25", serif;
    font-size: 25px;
    transition: transform 0.3s ease;
}
.link-logo:hover {
    transform: scale(1.1);
}
.search-input {
    background-color: transparent;
    border: none;
    width: 90%;
    opacity: 90%;
    color: black;
    font-size: 15px;
}


.search-input:focus {
    outline: none;
    border: none;
}
.top {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: white;
    height: 50px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.search-div {
    width: 45%;
    padding: 5px;
    height: 30px;
    opacity: 90%;
    filter: brightness(85%);

    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
}

.search-div:hover {
    background-color: black;
}


.hovered {
    background-color: lightblue;
  }
.search-button, .buttons-more {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    opacity: 100%;
    border: none;
    filter: brightness(85%);

    transition: background 0.3s ease;

    align-items: center;
    display: flex;
    cursor: pointer;
    
}
.search-button {
    position: absolute;
    right: 5px;
}
.buttons-more {
    z-index: 1003;
    margin: 10px;
    left: 10px;
}
.search-button:hover {
    background-color: rgb(230, 230, 230);
}

.buttons-more:hover {

}


.div-widget {
    margin: 5px;
    width: 50%;
    background-color: rgb(231,231,231);
    border-radius: 10px;
    height: 150px;
    opacity: 90%;
    padding: 5px;
}

hr {
    border-radius: 1px;
    width: 167%;
    height: 1px;
    background: linear-gradient(90deg, #b4b4b4, #cfcfcf 70%, #ffffff);
    border: none;
}
.short-hr {
    width: 100%;
    border-radius: 1px;
    height: 1px;
    background-color: grey;
    border: none;
}

.content {
    width: 80%;
    margin: 40px;
    flex-wrap: wrap;

}

.iframe-content {
    margin: 0px;
    position:fixed;
    top: 50px;
    width: 100vh;
    height: 100vh;
}

.search-result, .search-top-link {
    text-decoration: none;
    color: rgb(77, 77, 255);
    
}
.search-result:hover {
    text-decoration: underline;
}
.search-top-link:hover {
    text-decoration: none;
}


.default {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 100px;
}
.img, .costumize {
    margin: 10px;
    width: 20px;
    height: 20px;
}


.side-bar {
    border-bottom-right-radius: 10px;
    width: 200px;

    position: fixed; /* Ensures the sidebar remains in place when scrolling */
    top: 50px;
    left: 0;
    z-index: 1001;
    
    visibility: hidden;
    display: flex; /* Hidden by default */
    justify-content: start;
    align-items: start;
    flex-direction: column;

    border-bottom: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
}
.link-button {
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(85, 85, 85);
    background-color: transparent;
    transition: margin 0.3s ease;
}
.link-button:hover {
    margin-left: 10px;
}
.absolute {
    position: sticky;
    top: 0;
    left: 0px;
    z-index: 1000;
}
.wiki-div {
    position: absolute;
    top: 150px;
    right: 20px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 23%;
    visibility: hidden;
    padding: 20px;
    margin-bottom: 20px;
}
.customize, .customize-prop {


    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: rgb(63, 63, 63);
    transition: background 0.3s ease;
    border: none;
    

}

.customize-prop {
    height: 20px;
    width: 20px;
    padding: 10px;
    
    background-color: rgb(143, 143, 143);
    margin-right: 10px;
}
.customize {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    height: 45px;
    width: 45px;
    z-index: 3000;
}
.customize:hover {
    background-color: rgb(143, 143, 143);
}

.customize-div {
    left: 3%;
    right: 3%;
    opacity: 100%;
    z-index: 1003;
    position: fixed;
    bottom: 5%;
    display: none;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    overflow: y;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.7);
}
.customize-colors {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;

    transition: opacity 0.3s ease;
    border: 1px solid grey;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.customize-colors:hover {
    opacity: 70%;
}

.customize-color:active {
    opacity: 50%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 90%;
    padding: 10px;
}
.section p {
    margin-top: -20x;
}


.font-weight-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    padding: 10px;
    width: 150px;
    border: 1px solid rgb(190, 190, 190);

    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    margin-left: -0px;
    font-size: 18px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.font-weight-button:hover {
    background-color: rgb(190, 190, 190);
}

.overlay {

    justify-content: center;
    align-items: center;
    z-index: 1002;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    bottom: 0px;
    display: none;
}
.footer {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    height: 100px;
    width: 100%;
}

.flex-column-center {
    align-items: center;
    justify-content: center;
    display: flex;
}
.column {
    width: 70%;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
}

.test {
    background-color: light;
    box-shadow: none;
}

.content-brightness {
    position: fixed;
    display: flex;
    top: 50px;
    left: 0;
    background-color: grey;
    height: calc(100% - 50px); /* Adjust to account for the top offset */
    width: 100%;
    filter: brightness(10%);
    opacity: 0.1; /* Use 0.1 for 10% opacity */
    z-index: -10;

    
}
